<h1 style="text-align: center"> Admin Login</h1>
<div class="container">
  <form class="well box" #adminLoginForm="ngForm" (ngSubmit)="AdminLogin()">
    <div class="row">
        <div class="form-group">
            <label for="UserName">
              UserName:
            </label>
            <input type="text"id="Email" required [(ngModel)]="model.UserName" name="UserName" class="form-control">
             <!-- <div class="alert alert-danger" *ngIf="userName.touched && !Email.valid"><h3>UserName is required</h3></div> -->
             <!-- <input type="text"id="Name"   #Name="ngModel" name="Name" class="form-control">
             <div class="alert alert-danger" *ngIf="Name.touched && !Name.valid"><h3>UserName is required</h3></div> -->
          
         </div>
         <div class="form-group">
           <label for="Password">
             Password:
            </label>
             <input type="password" id="Password" required [(ngModel)]="model.Password" #Password="ngModel" name="Password" class="form-control">
             <div class="alert alert-danger" *ngIf="Password.touched && !Password.valid"><h3>Password is required</h3></div>
           
           </div> 
           <br>
           <div>
              <button class="btn btn-success"   style="margin-left: 35%" type="submit">Login</button>

                 </div>
              </div>
    
       </form>
  
</div>

