
  
    <h1 style="text-align: center;">Add Bussiness</h1>
  
  
    <!-- <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="Name"
       required
      [(ngModel)]="model.Name" name="name">
    </div>

    <div class="form-group">
      <label for=" City">City</label>
      <input type="text" class="form-control" id="City"
      required
      [(ngModel)]="model.City")] >
    </div>
    <div class="form-group">
      <label for=" Address">City</label>
      <input type="text" class="form-control" id="Address"
        requird
      [(mgModule="model.Address")]>
    </div>
    <div class="form-group">
      <label for=" Email">City</label>
      <input type="text" class="form-control" id="Email"
      required
      [(ngModule="model.Email")]>
    </div>
    <div class="form-group">
      <label for=" Password">City</label>
      <input type="text" class="form-control" id="Password" required
      [(ngModel)]="model.Password")]>
    </div>
-->
<form class="well box" #BussiessForm="ngForm" (ngSubmit)="AddBussines()">
<div class="form-group">
<label>
  Name:
</label>
 <input type="text" class="form-control" id="Name" [(ngModel)]="model.Name" name="Name" #Name="ngModel">
</div>
<div class="form-group">
  <label>
      PhoneNumber:
    </label>
      <input type="number" class="form-control" id="PhoneNumber" [(ngModel)]="model.PhoneNumber" name="PhoneNumber" #PhoneNumber="ngModel">
    
</div>
<div class="form-group">
  <label>
      CompanyId:
    </label>
      <input type="number" class="form-control" id="CompanyId" [(ngModel)]="model.CompanyId" name="CompanyId" #CompanyId="ngModel">
    
</div>
    <button type="submit" class="btn btn-success" style="margin-left: 40%">Submit</button>

</form>

